.fondo {
    background-image: url('../imagenes/imageQuirofano.jpg');
    background-size: cover;
    background-attachment: fixed;
}

.fotoPortada{
    width: 70%;
    border-radius: 7%;
}

.row h1{
    color: black;
    margin-top: 2.5rem;
    margin-bottom: 2rem;
    font-size: 60px; 
    display: flex;
    justify-content: center;
}

.subTitulo1 h5{
    color: black;
    font-size: 50px;
    position: relative;
    top: 6rem;
    right: 2rem;
}

.subTitulo2 h5{
    color: black;
    font-size: 50px;
    position: relative;
    top: 11rem;
    right: 2rem;
    
}
.footer{
   background-color: rgb(24, 53, 24); 
   padding-bottom: 0.5rem;
}
.itemFooter{
    display: flex;
    justify-content: space-around;
    color: bisque;
}

/* Prestaciones*/
.containerPrest{
    background-color: rgb(116, 163, 147);
    
}

.row h2{
    font-size: 30px;
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
    margin-top: 2rem;
}
.row h3{
    display: flex;
    justify-content: start;
    position: relative;
    left: 2rem;
    top: 1rem;
    margin-bottom: 2rem;
}
.row h4{
    
    top: 1rem;
    margin-bottom: 1rem;
}
.video1{
    margin-bottom: 3rem;
    position: relative;
    left: 3rem;
}
.video2{
    position: relative;
    left: 3rem;
    margin-bottom: 3rem;
}

/*Conociendome*/
.containerCon{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgb(131, 170, 157);
}
.item1{
    font-size: 15px;
    display: flex;
    justify-content: center;
}
.item2{
    margin-bottom: 3rem;
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    position: relative;
    right: 5rem;
}
.item{
    font-size: 20px;
    margin-bottom: 3rem;
    margin-top: 3rem;   
}
/*contactame*/
.contenedorCont{
    background-color: rgb(131, 170, 157);
}
.row{
    display: flex;
    justify-content: center;
}
.row p{
    font-weight: bold;
    justify-content: center;
}

/*instalaciones*/
.contenedorInst{
    background-color: rgb(131, 170, 157);
}
.itemI h4{
    display: flex;
    justify-content: center;
}
.itemI h3{
    padding-top: 3rem;
    margin-bottom: 3rem;
    display: flex;
    justify-content: center;
}
.imrecepcion{
    width: 50%;
    display: flex;
    justify-content: center;
    
}
.imconsult{
    display: flex;
    justify-content: center;
    width: 50%;
    height: 20rem; 
}