.fondo {
    background-image: url('../imagenes/imageQuirofano.jpg');
    background-size: cover;
    background-attachment: fixed;
}

.fotoPortada{
    width: 70%;
    border-radius: 7%;
}

.row h1{
    color: black;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 60px; 
    display: flex;
    justify-content: center;
}

.subTitulo1 h5{
    color: black;
    font-size: 40px;
    position: relative;
    top: 6rem;
    right: 2rem;
}

.subTitulo2 h5{
    color: black;
    font-size: 40px;
    position: relative;
    top: 11rem;
    right: 2rem;
    
}
.footer{
   background-color: rgb(24, 53, 24); 
   padding-bottom: 0.5rem;
}
.itemFooter{
    display: flex;
    justify-content: space-around;
    color: bisque;
}

/* Prestaciones*/
.containerPrest{
    background-color: rgb(85, 160, 135);
}
.row h1{
    font-size: 45px;
}
.row h2{
    font-size: 30px;
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
}
.row h3{
    position: relative;
    left: 5rem;
    top: 1rem;
    margin-bottom: 2rem;
}
.row h4{
    position: relative; 
    right: 5rem;
    top: 1rem;
    margin-bottom: 1rem;
}
.video1{
    position: relative;
    left: 5rem;
    margin-bottom: 3rem;
}
.video2{
    position: relative;
    left: 5rem;
    margin-bottom: 3rem;
}
